body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  background-image: url("images/fond.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; /* Set height of body to full viewport height */
  display: flex; /* Use flexbox to center content vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.box {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: #ddfbe6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}

h1 {
  color: aqua;
  font-size: 40px;
}

.presentation p {
  font-family: Comic Sans MS;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}


 .button-link {
  text-decoration:none;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid aqua; /* Aqua border */
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: aqua; /* Aqua background */
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in-out;
}

.button-link:hover {
  color: #fff;
  background: rgb(0, 153, 255); 
  box-shadow: 0 0 30px 5px rgb(0, 153, 255, 0.8); /* Aqua shadow on hover */
}

.button-link:hover::before {
  animation: sh02 0.5s linear;
}

.button-link::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.button-link:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}



@keyframes scaleIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation: slideIn 0.5s ease forwards;
}

/* Media Query for responsiveness */
@media only screen and (max-width: 768px) {
  .box {
    width: 90%;
    margin: 30px auto;
  }
  h1 {
    font-size: 32px;
  }
  .presentation p {
    font-size: 16px;
  }
  .button-link {
    padding: 8px 16px;
    margin: 0 8px;
  }
}
